<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login de Funcionário</title>
</head>
<body>
    <h1>Login</h1>

    <form th:action="@{/autenticar-funcionario}" th:object="${funcionario}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" th:field="*{senha}" required>

        <button type="submit">Entrar</button>
    </form>

    <div th:if="${erro}" style="color:red;">
        <p th:text="${erro}"></p>
    </div>

    <button onclick="window.location.href='/cadastro-funcionario'">Cadastrar-se</button>
</body>
</html>
